<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div id="divNav">
    <ul>
        <!--placeholder for flag-->
        <!--placeholder for logo-->
        <a sec:authorize="isAuthenticated()" th:href="@{/apply}">Apply</a>
        <!--<a th:href="@{/recruit}">Internal pages</a>-->
        <a sec:authorize="isAnonymous()"  th:href="@{/login}">Login</a>
        <a sec:authorize="isAnonymous()" th:href="@{/registration}">Register</a>
        <!--or-->
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" id="signOut">
            <input type="submit" value="Sign Out"/>
        </form>
    </ul>
</div>
