<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="layout/partials/head.html"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/apply.css"/>
</head>
<body>
    <th:block th:replace="layout/partials/navbar.html"></th:block>

    <div class="container apply-form">
        <form th:action="@{/apply}" method="post" th:object="${applicationForm}">
            <h2 class="text-center">Application - Additional information</h2>
            <div class="selectSkill" th:field="*{competenceForm}">
                <label for="selectSkills">Select your skills</label>
                <div class="custom-select">
                    <select id="selectSkills" >
                        <option th:each="competence : ${competenceList}" th:value="${competence}" th:text="#{${competence.getName()}}">Add a skill..</option>
                    </select>
                </div>

                <div>
                    <label for="selectYears">Years of experience: </label>
                    <input type="text" name="yearsExp" id="selectYears" placeholder="0" th:value="*{Long}">
                </div>
            </div>

            <script>
                function addSelectSkill() {
                    document.querySelector('.selectSkill').parentElement.insertBefore(document.querySelector('.selectSkill').cloneNode(true), document.querySelector('.selectSkill'));
                }
            </script>

            <div>
                <label for="buttonAddSkill">Add more skills:</label>
                <button type="button" id="buttonAddSkill" onclick="addSelectSkill()">+</button>
            </div>

            Select the time periods that you are available to work:
            <div class="selectTime" th:field="availabilityForm">
                <label for="from">From:</label>
                <input type="date" name="from" id="from" th:value="*{availability}">

                <label for="to">to:</label>
                <input type="date" name="to" id="to" th:value="*{Long}">
            </div>

            <script>
                function addSelectTime() {
                    document.querySelector('.selectTime').parentElement.insertBefore(document.querySelector('.selectTime').cloneNode(true), document.querySelector('.selectTime'));
                }
            </script>

            <div>
                <label for="buttonAddTime">Add more availability</label>
                <button type="button" id="buttonAddTime" onclick="addSelectTime()">+</button>
            </div>

            <button type="submit">View application before submitting</button>
        </form>
    </div>

    <th:block th:replace="layout/partials/footer.html"></th:block>
</body>
</html>
