<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="layout/partials/head.html"></th:block>
</head>
<body>
    <th:block th:replace="layout/partials/navbar.html"></th:block>

    <h1>Applications</h1>

    <form th:action="@{/recruit}" method="post" th:object="${recruitForm}">
        <div class="custom-select">
            <label for="selectSort">Sort by: </label>
            <select id="selectSort" th:field="*{sortChoice}">
                <option th:each="sort : ${sortList}" th:value="${sort}" th:text="#{${sort.getName()}}">Sort by..</option>
            </select>
        </div>

        <div class="custom-select">
            <label for="selectOnly">Show only applicants that: </label>
            <select id="selectOnly" th:field="*{onlyChoice}">
                <option th:each="only : ${onlyList}" th:value="${only}" th:text="#{${only.getName()}}">Show only..</option>
            </select>
        </div>

        <div>
            <label for="buttonShowResult">Show result: </label>
            <button type="button" id="buttonShowResult" onclick="sort()">click here</button>
        </div>
    </form>

    <!-- down here will de applications show, divRecruitList is placeholder in mean time -->
    <script>
        function sort() {
            //function for getting the list of applications sorted and only showing those selected here.
        }
    </script>

    <!--   sort: <span th:text="${#lists.sort(myList, reverse)}"/>   -->

    <div id="divRecruitList">
        <ul>
            <li th:each="person : ${personList}" th:value="${person}"
                 th:text="#{${person.getName(), person.getStatus(), <select id="changeStatus" th:field="*{status}">
                    <option th:action="hireApplicant()">Hire</option>
                    <option th:action="denyApplicant()">Deny</option>
            </select>}"><a th:action="viewApplicant(person)">click to view applicant</a></li>
        </ul>
    </div>

    <th:block th:replace="layout/partials/footer.html"></th:block>

</body>
</html>

